.container {
    padding: 14px 32px;
    background-color: var(--secondary-bg);
  }
  
  .heading {
    font-size: 18px;
    color: black;
    font-weight: 600;
    margin: 12px 0;
  }
  
  .form {
    border: 1.5px solid var(--border-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .protocolHeading {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 14px 24px 0;
    font-size: 16px;
  }
  
  .protocolbody {
    padding: 0px 24px 24px;
  }
  
  .protocolInfo {
    background-color: var(--secondary-bgr);
    border-radius: 8px;
    margin-bottom: 16px;
    border: 2px solid var(--border-color);
  }
  
  .url_Input {
    width: 100%;
    background-color: var(--secondary-bgr);
    outline: none;
    border: none;
    height: 40px;
    font-size: medium;
    padding: 8px 12px;
    border: 1.5px solid #575757;
    border-radius: 6px;
    margin: 10px 0;
  }
  
  .sliderContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }
  
  .methodDropDownContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }
  
  button {
    align-self: flex-start;
    margin-top: 20px;
  }
  button:disabled {
    background-color: #ccc; /* Light gray background */
    color: #666; /* Darker gray text color */
    cursor: not-allowed; /* Show "not-allowed" cursor */
    border: 1px solid #999; /* Slightly darker border */
    opacity: 0.6; /* Reduce opacity for a faded look */
  }
  
  button:disabled:hover {
    background-color: #ccc; /* No hover effect */
    color: #666;
  }
  