
.container{
    background-color: var(--secondary-bg); 
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 14px  34px;
    align-items: center;
    background-color:var(--secondary-bg);
    border-bottom: 0.5px solid #B9B9B9;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height:100%;
    padding: 14px 34px ;
}
.body_heading{
    color:darkgray;
}
.data{
    width: 70%;
}
